<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>iOS-Fusion: CERTIFICATES</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
		    <link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="shortcut icon" href="assets/ico/adg-logo.png">

    </head>

    <body>
      <!-- PORTAL DESIGNED AND DEVELOPED BY MADHAV BAHL -->
        <!-- Top content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                          <h1 style="margin-top:-30px; font-size: 50px;"><strong>UniDev</strong> Events Flow</h1>
                            <!-- <div class="description">
                            	<p class="hidden-xs" >
                                iOS Fusion is a premium Workshop conducted every year by
	                               <strong>ADG</strong>
                                during gravitas. Here participants are made to learn about
                                iOS app development using
                                <strong>SWIFT</strong> Language, and <strong>XCode</strong>
                            	</p>
                            </div> -->
                        </div>
                    </div>

                    <!-- Event Flow -->
                    <br />
                    <div  class="row">

                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">

                        <h3><input type="checkbox" class="dot" checked>
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Get in the gallery, Grab your Seats and start DEVELOPING :)
                            </b>
                          </span>
                        </h3>

                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" checked>
                        <h3><input type="checkbox" class="dot" checked>
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Open Unity-3D.exe
                            </b>
                          </span>
                        </h3>
                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check1" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check1main" onclick="addGlow([check1],[check1main])" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              New Project. Choose 3D
                            </b>
                          </span>
                        </h3>
                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check2"  style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check2main" onclick="addGlow([check2,check1],[check2main,check1main])" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Delete main Camera(Left panel) * Unmark 2D if its selected.

                            </b>
                          </span>
                        </h3>
                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check3" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check3main" onclick="addGlow([check3,check2,check1],[check3main,check2main,check1main])" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Import Vuforiaunity package.
                            </b>
                          </span>
                        </h3>
                      </div>
                      <!-- <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check4"  style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check4main" onclick="addGlow(check4,check4main)" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Get Direction light from Game Object.
                            </b>
                          </span>
                        </h3>
                      </div> -->
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="checkCHU" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="checkCHUmain"
                          onclick="addGlow([checkCHU,check3,check2,check1],[checkCHUmain,check3main,check2main,check1main])" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Get Direction light from Game Object.
                            </b>
                          </span>
                        </h3>
                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check5" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check5main"
                          onclick="addGlow([check5,checkCHU,check3,check2,check1],[check5main,checkCHUmain,check3main,check2main,check1main])" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Click Vuforia folder in assets(bottom panel).
                            </b>
                          </span>
                        </h3>
                      </div>

                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check6" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check6main"
                          onclick="addGlow([check6,check5,checkCHU,check3,check2,check1],
                          [check6main,check5main,checkCHUmain,check3main,check2main,check1main])" type="checkbox" class="dot">

                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Go to Prefabs.
                            </b>
                          </span>
                        </h3>
                      </div>

                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check7" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check7main"
                          onclick="addGlow([check7,check6,check5,checkCHU,check3,check2,check1],
                          [check7main,check6main,check5main,checkCHUmain,check3main,check2main,check1main])" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Select AR camera and drag it to left panel below Direction light.
                            </b>
                          </span>
                        </h3>
                      </div>

                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check8" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check8main"
                          onclick="addGlow([check8,check7,check6,check5,checkCHU,check3,check2,check1],
                          [check8main,check7main,check6main,check5main,checkCHUmain,check3main,check2main,check1main])" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Drag Image Target to below AR Camera.
                            </b>
                          </span>
                        </h3>
                      </div>

                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check10" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check10main"
                          onclick="addGlow([check10,check8,check7,check6,check5,checkCHU,check3,check2,check1],
                          [check10main,check8main,check7main,check6main,check5main,checkCHUmain,check3main,check2main,check1main])" type="checkbox" class="dot">
                          <span style=" text-align: justify; text-justify: inter-word; padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style=" color: rgb(234,234,244);">
                              Open Vuforia Developer portal.
                              <br /> <span style="padding-left: 42px;"> Create your account for personal use.</span>
                              <br /> <span style="padding-left: 42px;"> Go to Develop , create license key. Select and copy it.</span>
                            </b>
                          </span>
                        </h3>
                      </div>


                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check11" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check11main"
                          onclick="addGlow([check11,check10,check8,check7,check6,check5,checkCHU,check3,check2,check1],
                          [check11main,check10main,check8main,check7main,check6main,check5main,checkCHUmain,check3main,check2main,check1main])" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(224,224,234);">
                              Click on AR camera (left panel in Unity).
                            </b>
                          </span>
                        </h3>
                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check12" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check12main"
                          onclick="addGlow([check12,check11,check10,check8,check7,check6,check5,checkCHU,check3,check2,check1],
                          [check12main,check11main,check10main,check8main,check7main,check6main,check5main,checkCHUmain,check3main,check2main,check1main])" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(224,224,234);">
                              On right side paste the license key in App license key box.
                            </b>
                          </span>
                        </h3>
                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check13" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check13main"
                          onclick="addGlow([check13,check12,check11,check10,check8,check7,check6,check5,checkCHU,check3,check2,check1],
                          [check13main,check12main,check11main,check10main,check8main,check7main,check6main,check5main,checkCHUmain,check3main,check2main,check1main])" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(224,224,234);">
                              Change word center mode to Device tacking.
                            </b>
                          </span>
                        </h3>
                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check14" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check14main"
                          onclick="addGlow([check14,check13,check12,check11,check10,check8,check7,check6],
                          [check14main,check13main,check12main,check11main,check10main,check8main,check7main,check6main])" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
Go to target manager in Vuforia portal -> Add database.
                            </b>
                          </span>
                        </h3>
                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check15" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check15main"
                          onclick="addGlow([check15,check14,check13,check12,check11,check10,check8,check7,check6],
                          [check15main,check14main,check13main,check12main,check11main,check10main,check8main,check7main,check6main])" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
Click on database -> Choose image -> Ok
                            </b>
                          </span>
                        </h3>
                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check16" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check16main"
                          onclick="addGlow([check16,check15,check14,check13,check12,check11,check10,check8,check7,check6],
                          [check16main,check15main,check14main,check13main,check12main,check11main,check10main,check8main,check7main,check6main])" type="checkbox" class="dot">
                          <span  style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Set Width = 5, tick the box and download package.
                              <br /> <span style="padding-left: 42px;"> Download for Unity.</span>
                            </b>
                          </span>
                        </h3>
                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check17" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check17main"
                          onclick="addGlow([check17,check16,check15,check14,check13,check12,check11,check10,check8,check7,check6],
                          [check17main,check16main,check15main,check14main,check13main,check12main,check11main,check10main,check8main,check7main,check6main])" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Import package
                            </b>
                          </span>
                        </h3>
                      </div>

                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check18" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check18main" onclick="addGlow(check18,check18main)" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Go to AR camera. Load metaverse data
                            </b>
                          </span>
                        </h3>
                      </div>

                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check19" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check19main"  onclick="addGlow(check19,check19main)" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Activate
                            </b>
                          </span>
                        </h3>
                      </div>

                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check20" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check20main" onclick="addGlow(check20,check20main)" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              In Image Target Behavior  on Right side, in Database select Image.
                            </b>
                          </span>
                        </h3>
                      </div>

                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check21" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check21main" onclick="addGlow(check21,check21main)" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Make Image target child of AR Camera.
                            </b>
                          </span>
                        </h3>
                      </div>

                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check22" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check22main" onclick="addGlow(check22,check22main)" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Go to Asset Store, type Red Samurai.
                            </b>
                          </span>
                        </h3>
                      </div>

                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check23" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check23main" onclick="addGlow(check23,check23main)" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Click on it and download. Import.
                            </b>
                          </span>
                        </h3>
                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check24" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check24main" onclick="addGlow(check24,check24main)" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Go to character folder in Assets, drag Samurai to child of Image Target.
                            </b>
                          </span>
                        </h3>
                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check25" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check25main" onclick="addGlow(check25,check25main)" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Position the samurai to (0,0,0)
                            </b>
                          </span>
                        </h3>
                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check26" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check26main" onclick="addGlow(check26,check26main)" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Select Animation
                            </b>
                          </span>
                        </h3>
                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check27" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check28main" onclick="addGlow(check28,check28main)" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Play
                            </b>
                          </span>
                        </h3>
                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check29" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check29main" onclick="addGlow(check29,check29main)" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Save scene and project.
                            </b>
                          </span>
                        </h3>
                      </div>

                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check40" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check40main" onclick="addGlow(check40,check40main)" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Go to file, select Build settings, Click on “Add open scenes”.
                            </b>
                          </span>
                        </h3>
                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check41" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check41main" onclick="addGlow(check41,check41main)" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Select Player settings.
                            </b>
                          </span>
                        </h3>
                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check42" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check42main" onclick="addGlow(check42,check42main)" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Select android settings(android symbol out of 3 categories)
                            </b>
                          </span>
                        </h3>
                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check43" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check43main" onclick="addGlow(check43,check43main)" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Scroll down to Identification section.
                            </b>
                          </span>
                        </h3>
                      </div>
                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check44" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check44main" onclick="addGlow(check44,check44main)" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                            Now change Build identifier = com.adgvit.yourname
                            </b>
                          </span>
                        </h3>
                      </div>

                      <div id="startEventFlow" class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <input id="check45" style="margin-top: -10px; margin-bottom: -20px; padding-top: 60px; width:10px; margin-left: 8px;" type="checkbox" class="dot" >
                        <h3><input id="check45main" onclick="addGlow(check45,check45main)" type="checkbox" class="dot">
                          <span style=" padding-left:10px; padding-bottom:10px; font-size:1.40em; ">
                            <b style="color: rgb(234,234,244);">
                              Build and Run.
                            </b>
                          </span>
                        </h3>
                      </div>



                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div style="margin-top: 150px;" class="form-top">
                        		<div class="form-top-left">
                        			<h3 style="text-align: center; margin-left: 95px; margin-bottom:-15px; font-weight: 400;">Liked The Workshop?<br /> <strong> Send Us A FeedBack </strong> :)</h3>
                            		<!-- <p>Enter your username and password to log on:</p> -->
                        		</div>
                        		<!-- <div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div> -->
                            </div>
                            <div class="form-bottom">

                            <div role="form" class="login-form">

                              <form role="form" action="/sendFeedback" method="post" class="login-form">
                                <div class="form-group">
                                   <label class="sr-only" for="name">Name</label>
                                  <input type="text" name="name" placeholder="Your Name..." class="form-username form-control" id="form-username" required>
                                </div>
                              <div class="form-group">
                                 <label class="sr-only" for="email">Email</label>
                                <input type="text" name="email" placeholder="Your Email..." class="form-username form-control" id="form-username" required>
                              </div>
                              <div class="form-group">
			                    		   <label class="sr-only" for="feedback">Feedback</label>
			                        	<textarea rows="6" type="text" name="feedback" placeholder="Your Valueable Feedback..." class="form-username form-control" id="form-username" required></textarea>
			                        </div>
			                        <button type="submit" class="btn" style="font-weight: 500;">SEND</button>
			                    </form>
		                    </div>
                        </div>
                    </div>

                </div>

                </div>
            </div>

        </div>
        <!-- PORTAL DESIGNED AND DEVELOPED BY MADHAV BAHL -->

        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/placeholder.js"></script>
        <script src="assets/js/scripts.js"></script>
        <!-- <script src="assets/js/style.js"></script> -->

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>
